---
const { projectNumber, link, name, description, image } = Astro.props;
---

<a href={link} aria-label={name} target="_blank" class="block">
  <div
    class="relative flex size-[150px] flex-col justify-end rounded-2xl border text-white transition duration-200 ease-out sm:size-[200px] sm:hover:scale-105 sm:hover:shadow-lg sm:hover:shadow-gray-800 lg:size-[250px]"
    style={`background-image: url('${image}'); background-size: cover; background-position: center;`}
  >
    <div
      class="flex w-full flex-col items-center justify-center space-y-1 rounded-b-2xl bg-black px-3 py-2 opacity-85"
    >
      <h1 class="text-xs font-bold md:text-sm">{name}</h1>
      <p class="text-center text-[8px] sm:text-[10px] md:text-[12px]">
        {description}
      </p>
    </div>
  </div>
</a>
